/TwitterAnalysis/project/project
/TwitterAnalysis/target/
/project/
/target/
.idea
.bsp
/TwitterAnalysis/project/target/
/TwitterAnalysis/logs
.env
TwitterAnalysis/.DS_Store
.metals
.vscode
.bloop
.DS_Store
/TwitterAnalysis/resources/twcs.csv
resources/twcs.csv
/TwitterAnalysis/resources/
/client/node_modules
